<HTML>
<HEAD>
<link REL="stylesheet" TYPE="text/css" HREF="../Style/Font.css">
<link REL="stylesheet" TYPE="text/css" HREF="../Style/Object.css">
<TITLE></TITLE>
</HEAD>
<BODY>
<div align="center">
<table cellSpacing="0" cellPadding="1" border="0" style="WIDTH: 6.75in">
  <tr>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td>
    <td WIDTH="5%"></td></tr>
<tr>
   <td colspan=5 align=middle class=hdrSmall>City of Philadelphia</td>
   <td colspan=9>&nbsp;</td>
   <td colspan=6 align=middle class=hdrMedium>Due Date: February 28, 2001</td></tr>
<TR>
   <TD colspan=6 align=left class=hdrSmall>
      <P align=left>&nbsp;Annual Reconciliation of</P>  </TD></TR>
<TR>
   <td colspan=6 align=left class=hdrSmall>Employer Wage Tax 2001</td>  
   <td colspan=8>&nbsp;</td>
   <td colspan=6 align=middle class=lblTblDataCenterSmall>City Account Number</td></TR>
<TR>
   <TD colspan=14>&nbsp;</TD>
   <td colspan=6 align=middle><INPUT id=text1 name=text1></td></TR>
<tr>
   <td colspan=2 align=right class=hdrMedium>Name:</td>
   <td colspan=10 align=left><input id=name name=name 
      style="HEIGHT: 22px; WIDTH: 287px"></td>
   <td colspan=2>&nbsp;</td>   
   <td colspan=6 align=middle class=lblTblDataCenterSmall><P align=center>&nbsp; Federal Employer 
      Identification Number</P></td></tr>  
<TR>
   <td colspan=2 align=right class=hdrMedium>Address:</td>
   <td colspan=10 align=left><INPUT id=address1 name=address1
       style="HEIGHT: 22px; WIDTH: 287px"></td>
   <td colspan=2>&nbsp;</td>    
   <td colspan=6 align=middle><INPUT id=text2 name=text2></td></TR>
<TR>
   <td colspan=2>&nbsp;</td>
   <td colspan=10 align=left><INPUT id=address2 name=address2
       style="HEIGHT: 22px; WIDTH: 287px"></td>
   <td colspan=2>&nbsp;</td>
   <td colspan=6 align=middle class=lblTblDataCenterSmall>Social Security Number</td></TR>
<TR>
   <td colspan=2>&nbsp;</td>
   <td colspan=5 align=left><INPUT id=city name=city>PA</td>
   <td colspan=1>&nbsp;</td>
   <td colspan=3 align=left><INPUT id=zip name=zip style="HEIGHT: 22px; WIDTH: 79px"></td>
   <td colspan=3>&nbsp;</td>
   <td colspan=6 align=middle><INPUT id=text3 name=text3></td></TR>
<TR>
   <td colspan=10>&nbsp;</td>
   <td colspan=10 class=hdrMedium>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If this is an amended return, place an 
       "X" here..... <INPUT id=text4 name=text4 style="HEIGHT: 22px; WIDTH: 19px" ></td></TR>
<TR>
   <td colspan=16 align=left class=lblTblDataLeftSmall>A. Enter the number of <STRONG>Philadelphia 
      Residents</STRONG> for whom wage tax was remitted for the pay period<br>&nbsp;&nbsp;&nbsp;&nbsp; including March 12, 
      2001.......................................................................................................................
   <td align=right >A.</td>
   <td colspan=3 align=right><INPUT id=text5 name=text5 style="HEIGHT: 22px; WIDTH: 95px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td colspan=16 align=left class=lblTblDataLeftSmall>B. Enter the number of <STRONG>non-residents</STRONG> 
      (employees living outside Philadelphia city limits) for whom wage<br>&nbsp;&nbsp;&nbsp;&nbsp; tax was remitted for pay period 
      including March 12, 
      2001......................................................................
   <td align=right >B.</td> 
   <td colspan=3 align=right><INPUT id=text6 name=text6 style="HEIGHT: 22px; WIDTH: 95px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td colspan=16 align=left class=lblTblDataLeftSmall>C. Total number of employees <STRONG>for all company locations</STRONG> 
      reported on the Employer's Federal Quarterly<br>&nbsp;&nbsp;&nbsp;&nbsp; 
      Tax Return for the first quarter of 2001(for the pay period including 
      March 12, 2001)...........................
   <td align=right >C.</td>
   <td colspan=3 align=right><INPUT id=text7 name=text7 style="HEIGHT: 22px; WIDTH: 95px"></td></TR>      
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td colspan=16 class=lblTblDataLeftSmall>D. Number of employees working at <STRONG>company locations within 
      Philadelphia city limits</STRONG>, for the pay<br>&nbsp;&nbsp;&nbsp;&nbsp; period including March 12, 
      2001............................................................................................................</td>
   <td align=right >D.</td>
   <td colspan=3 align=right><INPUT id=text8 name=text8 style="HEIGHT: 22px; WIDTH: 95px"></td></TR>
<tr>
   <td colspan=20>&nbsp;</td></tr>
<tr>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>1. Gross Compensation per W-2 forms for all employees.............</td>
   <td align=right >1.</td>
   <td colspan=8 align=right><INPUT id=text9 name=text9 style="HEIGHT: 22px; WIDTH: 260px"></td></tr>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>2. Non-Taxable Compensation included included in Line 1.<br>&nbsp;&nbsp; (Paid to non-residents working outside 
      of Philadelphia).............</td>
   <TD align=right >2.</TD>
   <td colspan=8 align=right><INPUT id=text10 name=text10 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>3. Net Compensation per W-2 forms on which Philadelphia Wage<br>&nbsp;&nbsp;&nbsp; Tax was withheld or due (Line 1 
      less Line 2)...........................
   <td align=right >3.</td>
   <td colspan=8 align=right><INPUT id=text11 name=text11 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>4.<STRONG>  Total Tax Compensation paid to residents 
     of<br>&nbsp;&nbsp;&nbsp;&nbsp; Philadelphia (1/1/2001 to 
      6/30/2001)</STRONG>.....................................</td>
   <td align=right >4.</td>
   <td colspan=8 align=right><INPUT id=text12 name=text12 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>5. Tax Due 
      (Line 4 x .045635).......................................................</td>
   <td align=right >5.</td>
   <td colspan=8 align=right><INPUT id=text13 name=text13 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>6.<STRONG> Total Taxable Compensation paid to residents of<br>&nbsp;&nbsp;&nbsp;&nbsp; Philadelphia (7/1/2001 to 
      12/31/2001)</STRONG>...................................</td>
   <td align=right >6.</td>
   <td colspan=8 align=right><INPUT id=text14 name=text14 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>7. Tax Due (Line 6 x .045385).......................................................</td>
   <td align=right >7.</td>
   <td colspan=8 align=right><INPUT id=text15 name=text15 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>8.<STRONG> Total Taxable Compensaton paid to nonresidents of<br>&nbsp;&nbsp;&nbsp;&nbsp; Philadelphia (1/1/2001 to 
      6/30/2001)</STRONG>.....................................</td>
   <td align=right >8.</td>
   <td colspan=8 align=right><INPUT id=text16 name=text16 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>9. Tax Due (Line 8 x .039672).......................................................</td>
   <td align=right >9.</td> 
   <td colspan=8 align=right><INPUT id=text17 name=text17 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>10.<STRONG> Total Taxable Compensation paid to nonresidents of<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Philadelphia 
      (7/1/2001 to 12/31/2001)</STRONG>.................................</td>
   <td align=right >10.</td>
   <td colspan=8 align=right><INPUT id=text18 name=text18 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>11. Tax Due (Line 10 x .039462)...................................................</td>
   <td align=right >11.</td>
   <td colspan=8 align=right><INPUT id=text19 name=text19 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>12.<STRONG> Total Tax Due (Add lines 5,7,9 and 11)</STRONG>..............................</td>
   <td align=right >12.</td>
   <td colspan=8 align=right><INPUT id=text20 name=text20 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=10 class=lblTblDataLeftSmall>13. Tax 
      previously paid for 2001...................................................</td>
   <td align=right >13.</td>
   <td colspan=8 align=right><INPUT id=text21 name=text21 style="HEIGHT: 22px; WIDTH: 260px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=12 class=lblTblDataLeftSmall>14.<STRONG> ADDITIONAL TAX DUE</STRONG> if Line 12 is greater than 
      Line 13, enter the<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;amount here..................................................................................................</td>
   <td align=right >14.</td>
   <td colspan=6 align=right><INPUT ID=text22 name=text22 style="HEIGHT: 22px; WIDTH: 200px"></td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td>&nbsp;</td>
   <td colspan=12 class=lblTblDataLeftSmall>15. If Line 
      12 is less than Line 13, enter the amount of <STRONG>TAX 
  OVERPAID</STRONG>.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (see instructions)..........................................................................................</td>
   <td align=right >15.</td>
   <td colspan=6 align=right><INPUT id=text23 name=text23 style="HEIGHT: 22px; WIDTH: 200px"></td></TR>
<TR>
   <td colspan=20><HR></td></TR>
<TR>
   <td colspan=2>&nbsp;</td>
   <td colspan=16 align=left class=lblInstrBlack>Under 
      penalty of perjury,&nbsp; as set forth in 18 Pa. C.S. $$ 4902-4903 as 
      amended, I swear that I have<br>reviewed this return 
      and accompanying statements and schedules, and to the best of my knowledge 
      they are true and complete.</td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td colspan=2>&nbsp;</td>
   <td colspan=18 align=left class=lblInstrBlack>Taxpayer Signature 
      _____________________________________________Date______________Phone___________________________</td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td colspan=20>&nbsp;</td></TR>
<TR>
   <td colspan=2>&nbsp;</td>
   <TD colspan=18 align=left class=lblInstrBlack>Preparer 
      Signature_______________________________________________Date______________Phone___________________________</TD></TR>
</table></div>                                        
</BODY>
</HTML>
