<HTML>
<HEAD>
<link REL="stylesheet" TYPE="text/css" href="../../../Content/Styles/Font.css">
<TITLE></TITLE>
</HEAD>
<BODY>

<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0 style="MARGIN-BOTTOM: 20px; MARGIN-LEFT: 20px; MARGIN-TOP: 20px">
  <TR>
		<TD><P class=hdrLarge align=left>Your City Account <FONT 
      class=lblTextBold>|&nbsp;zip 
  check&nbsp;parameters</FONT>   </P></TD></TR>
  <TR vAlign=top align=left>
    <TD>
      <P class=lblTextBlack style="MARGIN-LEFT: 20px; MARGIN-TOP: 10px" 
     >
               
                  
         The Zip Check Parameter page is a useful tool to 
      protect the user from mis-keying&nbsp;tax payment amounts.
               
                  
         Presented for each tax type is statistical information to aid the user in determing an appropriate
      Limit Amount. When paying the taxes via the Zip Check Payment page, the amount is verified against the limit.</P></TD></TR></TABLE>


<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0 style="MARGIN-LEFT: 20px" id=TABLE1>
	<tr style="HEIGHT: 0px">
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
			<td width="5%"><p>&nbsp;</p></td>
	</tr>	

	<TR>
		<TD colspan=5><P>&nbsp;</P></TD>
		<TD colspan=6><P align=center nowrap><FONT class=lblTextBold style="MARGIN-LEFT: 0px; VERTICAL-ALIGN: sub" 
     >Up to 4 Year Span</FONT></P></TD>
		<TD colspan=6><P align=center nowrap><FONT class=lblTextBold style="MARGIN-LEFT: 20px; VERTICAL-ALIGN: sub" 
     >Last 12 Months</FONT></P></TD>
			
	</TR>
  
  <TR style="BACKGROUND-COLOR: lightblue">
    <TD colspan=2 style="BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid; BORDER-RIGHT: black thin solid; BORDER-LEFT: black thin solid">
      <P class=lblTextBold align=center>Account Id</P></TD>
    <TD colspan=3 style="BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid" nowrap>
      <P class=lblTextBold align=center>Account Type</P></TD>
    <TD  colspan=2 style="BORDER-RIGHT: medium none; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBold align=right>Low&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBold align=right>High&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBold align=right>Avg&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBold align=right>Low&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBold align=right>High&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBold align=right>Avg&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid; BORDER-RIGHT: black thin solid">
      <P class=lblTextBold align=center>Limit</P></TD>
   </TR>
   
   <TR style="BACKGROUND-COLOR: lightgrey">
		<TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-LEFT: black thin solid; BORDER-BOTTOM: black thin solid"><P class=lblTextBlack> 8014985</P></TD>
		<TD colspan=3 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid"><P class=lblTextBlack align=center>Liquor</P></TD>
		<TD colspan=2
    style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>2314&nbsp;</P></TD>
			<TD colspan=2
    style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>5185&nbsp;</P></TD>
			<TD colspan=2
      style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>2718&nbsp;</P></TD>
			<TD colspan=2 
    style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>2518&nbsp;</P></TD>
			<TD colspan=2 
    style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>6905&nbsp;</P></TD>
			<TD colspan=2 
      style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>3407&nbsp;</P></TD>
			<TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
				<INPUT id=Limit1 name=Limit1 style="MARGIN-LEFT: 2px" size=16></TD>
  </TR>
    
  <TR style="BACKGROUND-COLOR: darkgray">
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-LEFT: black thin solid; BORDER-BOTTOM: black thin solid" 
      ><P class=lblTextBlack>203411942</P></TD>
    <TD colspan=3 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid" 
    ><P class=lblTextBlack align=center>Business</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>300&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>300&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>300&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>400&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>400&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>400&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
		<INPUT id=Limit1 style="MARGIN-LEFT: 2px;" size=16 name=Limit1></TD>
  </TR>
  
  
  
  <TR style="BACKGROUND-COLOR: lightgrey">
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-LEFT: black thin solid; BORDER-BOTTOM: black thin solid" 
      ><P class=lblTextBlack>203411942</P></TD>
    <TD colspan=3 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid" 
    ><P class=lblTextBlack align=center>Net Profits</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>7065&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>9480&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>7315&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>6148&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>7181&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid">
      <P class=lblTextBlack align=right>6715&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid" width="6%"><INPUT id=Limit1 
      style="MARGIN-LEFT: 2px" size=16 name=Limit1></TD>
  </TR>
  
  
  
  <TR style="BACKGROUND-COLOR: darkgray">
    <TD colspan=2 style="BORDER-LEFT: black thin solid; BORDER-RIGHT: black thin solid; BORDER-BOTTOM: thin black solid" 
    ><P class=lblTextBlack>8014985</P></TD>
    <TD colspan=3 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: thin black solid" ><P class=lblTextBlack align=center>Wage</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: thin black solid" >
      <P class=lblTextBlack align=right>3865&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: thin black solid">
      <P class=lblTextBlack align=right>4982&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: thin black solid">
      <P class=lblTextBlack align=right>3916&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: thin black solid">
      <P class=lblTextBlack align=right>3510&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: medium none; BORDER-BOTTOM: thin black solid">
      <P class=lblTextBlack align=right>3510&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: thin black solid">
      <P class=lblTextBlack align=right>3510&nbsp;</P></TD>
    <TD colspan=2 style="BORDER-RIGHT: black thin solid; BORDER-BOTTOM: thin black solid"><INPUT id=Limit1 name=Limit1 size=16 
      style="MARGIN-LEFT: 2px"></TD>
  </TR>		
		 <TR>
			<TD colspan=20><P>&nbsp;</P></TD>
			
		<TR>
			<TD align =middle colspan=16><P style="MARGIN-TOP: 20px"><INPUT id=SubmitApply type=submit value=Update name=SubmitApply></P></TD></TR></TBODY></FORM></TABLE>		

</BODY>
</HTML>
