<HTML>
<HEAD>
<TITLE></TITLE>
</HEAD>
<BODY>

<P align=center><FONT size=5><STRONG>City of Philadelphia</STRONG></FONT></P>
<P align=center>Department of Revenue's Online Services</P>
<P align=center>Web Server will undergo routine maintenance every Sunday from 8:00am till 2:00pm</P>
<P align=center>We apologize for the inconvenience</p>
<br />
<P align=center style="color: #FF0000; display:none">Also, on Monday, December 10, 2010 between 8:00am and 9:00am <br />
		this web site will be down for equipment upgrades</p>
<br />
<P align=center>
	<A HREF="http://www.phila.gov/revenue">Return to the Department of Revenue's website</A></P>
</BODY>
</HTML>
