
<html>
<link REL="stylesheet" TYPE="text/css" HREF="../../Style/Font.css">
<head>
<title>Revenue Department Online Help</title>
</head>
<!--Beginning of Body-->
<body bgcolor="lightgoldenrodyellow" bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
<center>
<table border="0" id="TABLE1" style="WIDTH: 103%" cellspacing="0"><!--Spacer Line 1-->
  <tr BGCOLOR="black">
    <td height="2" colspan="3">
    </td>
  </tr>
    
  <tr HEIGHT="50" bgcolor="whitesmoke">
    <td width="5%">&nbsp;
    </td>
    <td colspan="2"><font class="hdrLarge">
      <b>Online Help</font>
      <font class="hdrmedium">| Previously Paid Tax</B></font>
    </td>
  </tr><!--Spacer Line 2-->
  <tr BGCOLOR="black">
    <td height="2" colspan="3">
    </td>
  </tr>
  <tr>
    <td height="12" colspan="3">&nbsp;
    </td>
  </tr><!--Term and Definition-->
  <tr>
    <td>&nbsp;
    </td>
    <td>
				<font class="lblInstrBold">Previously Paid&nbsp;Tax</font>&nbsp;
<!--Tom Kramer 2-25-04 - Originial wording
This is the wage tax paid for this year per the Philadelphia 
Department of Revenue records. If your records do not agree with this amount, 
-->
    <p class="lblInstrBlack">This is the Wage Tax paid for this year from the Philadelphia
				Department of Revenue; this amount may not yet include your most recent payment.  
				If the amount displayed plus your most recent payment do not agree with your 
				records, send an e-mail	to <A href="mailto:revenue@phila.gov">revenue@phila.gov</a> 
				(making sure to include your Tax Account Number in the e-mail).</p>
    </td>
    </tr>
 </table>
</center>
</body>
</html>